<html>
<head>
   <title>Software Engineering | Final Project</title>
	<link href="/static/css/bootstrap.css" rel="stylesheet">	
</head>
<body background="/static/img/bg.jpg">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	  <a>CoE Generals</a>
  </div>
</div>

</br></br></br>

<div class="container-fluid1">
	<div class="well span9" class="page-header" align="center">
		<h1><I>Meet the COE GENERALS</I></h1>
	</div>
</div>

<div class="container-fluid">
	<div class="well span2">
			<img src="/static/img/dar.jpg" width="100%" height="20.5%">
	</div>
	<div class="well span6">
		<h2>Alcovindas, Darius C.</h2>
		<strong>BS CoE 5-4</strong></br>
		<strong>Navotas City</strong></br>
		<strong>November 28, 1991</strong></br>
		<strong></strong></br>
		<strong>Motto:</strong> &nbsp; <i/>"Live life to the fullest."
	</div>
</div>
			  
<div class="container-fluid">
	<div class="well span2">
			<img src="/static/img/dah.jpg" width="100%" height="20%">
	</div>
	<div class="well span6">
		<h2>Andrada, Daryl Joe C.</h2>
		<strong>BS CoE 5-4</strong></br>
		<strong>Quezon City</strong></br>
		<strong>December 27, 1990</strong></br>
		<strong></strong></br>
		<strong>Motto:</strong> &nbsp; <i/>"Its better to do something and failed than to do nothing and succeed"
	</div>
</div>	

<div class="container-fluid">
	<div class="well span2">
			<img src="/static/img/jhm.jpg" width="100%" height="23.5%">
	</div>
	<div class="well span6">
		<h2>Basangan, Jhomhel O.</h2>
		<strong>BS CoE 5-4</strong></br>
		<strong>Manila City</strong></br>
		<strong>Ausust 30, 1991</strong></br>
		<strong></strong></br>
		<strong>Motto:</strong> &nbsp; <i/>"Yesterday is a history tommorrow is a mystery and today is a gift. Thats why its called present." 
	</div>
</div>	

<div class="container-fluid">
	<div class="well span2">
			<img src="/static/img/ken.jpg" width="100%" height="20.5%">
	</div>
	<div class="well span6">
		<h2>Lorca, John Kenneth N.</h2>
		<strong>BS CoE 5-4</strong></br>
		<strong>Pasig City</strong></br>
		<strong>January 10, 1992</strong></br>
		<strong></strong></br>
		<strong>Motto:</strong> &nbsp; <i/>"Time is gold" 
	</div>
</div>	


<div align="center">
  © All Rights Reserved.
</div>

</body>
</html>